body {
  font-family: Arial, sans-serif;

  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  background: white;
  width: calc(90vw - 200px);
  padding: 20px;
}

@font-face {
  font-family: "JetBrains Mono Light";
  src: url('JetBrainsMono-LightItalic.woff2') format('woff2');
}

h1 {
    text-align: center;
    font-size: 30px;
    letter-spacing: 1.55em;
    font-family: "JetBrains Mono Light";
    color: #ff00c6;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 38px;
    left: 0;
    width: 100%;
    display: inline-block;
    line-height: 0.6;
}

h1 span {
  display: inline-block;
  padding-left: 2rem;
}

h2 {
  font-family: "JetBrains Mono Light";
  text-align: center;
  font-size: 14px;
  letter-spacing: 7px;
  font-weight: 300;
  color: #ff00c6;
}

.chat-box {
    display: flex;
    flex-direction: column;
    height: calc(90vh - 150px);
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 10px;
}

.user-message,
.bot-message {
  line-height: 1.6;
}

.user-message {
    background: rgba(0, 18, 41, 0.8);
    display: inline-block;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: right;
    align-content: flex-end;
}

.bot-message {
    color: black;
    padding: 5px 20px 5px 0px;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: left;
}

.input-area {
  display: flex;
}

input,
textarea {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
    padding: 10px;
    border: none;
    /* background: #007bff; */
    /* color: white; */
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;
    background: rgba(0, 18, 41, 0.8);
}

button span {
  color: #fff;
  display: block;
  rotate: 110deg;
  font-size: 40px;
}

button:hover {
  background: #fff;
}

button:hover span {
  color: #ff00c6;
  display: block;
  rotate: 110deg;
  font-size: 40px;
}
